@media (max-width: 600px) {
  .images {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Smaller min size for smaller screens */
    gap: 5px;
  }
}

body {
    margin: 0;
    background-color: #1a1721;
    color: white;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #wrapper {
    position: absolute; /* Changed from 'fixed' to 'absolute' */
    height: auto; /* Allow height to expand as needed */
    min-height: 100%; /* Ensure it covers the viewport height at a minimum */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  #content {
    overflow: visible;
    width: 100%;
  }
  
  .text {
    position: fixed;
    top: 50vh;
    font-family: termina, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 8vw;
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    z-index: 2;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    z-index: -2;
  }
  
  .outline-text {
    color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
    z-index: 2;
  }
  
  .filter-text {
    mix-blend-mode: screen;
    color: #804691;
    z-index: 2;
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6px, 1fr));
    grid-auto-rows: 20px;
    gap: 10px;
    padding-top: 400px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: stretch;
    margin-left: 37%;
  }

  .images img {
    width: 100%; /* Ensure it scales with the grid item */
    height: 100%; /* Match grid item's height */
    object-fit: cover; /* Cover the area without losing aspect ratio */
  }
  
  .content__slide-item {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  img:nth-child(1) {
    grid-area: 1/1/7/11;
  }
  
  img:nth-child(2) {
    grid-area: 3/12/8/20;
  }
  
  img:nth-child(3) {
    grid-area: 9/7/13/15;
  }
  
  img:nth-child(4) {
    grid-area: 13/2/18/10;
  }
  
  img:nth-child(5) {
    grid-area: 16/12/20/19;
  }
  
  img:nth-child(6) {
    grid-area: 21/1/25/9;
  }
  
  img:nth-child(7) {
    grid-area: 21/13/24/4;
  }
  
  img:nth-child(8) {
    grid-area: 27/5/30/15;
  }

  img:nth-child(9) {
    grid-area: 33/1/37/8;
  }
  
  img:nth-child(10) {
    grid-area: 34/12/39/20;
  }
  
  /* Continue the pattern for more images */
  img:nth-child(11) { grid-area: 39/5/43/15; }
  img:nth-child(12) { grid-area: 44/1/48/8; }
  img:nth-child(13) { grid-area: 46/12/50/19; }
  img:nth-child(14) { grid-area: 50/2/55/9; }
  img:nth-child(15) { grid-area: 52/11/57/20; }
  img:nth-child(16) { grid-area: 54/5/60/15; }
  img:nth-child(17) { grid-area: 61/1/65/8; } /* Note: Adjust grid-template-rows if exceeding 60 */
  img:nth-child(18) { grid-area: 63/12/68/20; }